body{

    font-family: 'Lobster', cursive;
    color: 1c1c1c;
}
h1, h2, h3{
    font-family: 'Akaya Telivigala', cursive;
    color: #000;

}
/* Nav*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: royalblue;
  
}
nav a{
    text-decoration: none;
    color: #ffff;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Bitter', serif;;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0%;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px, 0;
    width: 100%;
    text-decoration: none;
    color: #ffff;
}

/* Header*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Imagens/Tronco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffff;
    text-align: center;
    padding: 20px;

}

header h1{
    color: #ffff;
}

header p{
    margin-bottom: 2em;
}

#Sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: royalblue;
    color:#ffff;

}

#Sobre h2{
    color: #ffff;
}

#Sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;

}

#Trabalhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}
#Trabalhos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#Imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
#Imagens h2{
    margin-bottom: 20px;
}
#Imagens img{
    width: 100%;
}


#Concluidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#Concluidos h2{
    color: #000;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: royalblue;
    color: #ffff;
}
footer a{
    text-decoration: none;
    color: aqua;
}

/*Responsivo*/

@media screen and (min-width:768px){

    nav{
        flex-direction: row;
        justify-content: space-around;

    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }

    header{
        height: 600px;
        height: 60vh;
        justify-content: center;

    }
    #Sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;

    }

    #Trabalhos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #Trabalhos h2{
        text-align: center;
        width: 100%;

    }
    #Trabalhos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #Imagens{
         flex-direction: row;
         flex-wrap: wrap;

    }
    #Imagens h2{
        width: 100%; 
        text-align: center;
    }
    #Imagens img{
        width: 33.333%;
    }
    #Concluidos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;

    }
    #Concluindo h2 #Concluidos p{
        width: 100%;
        
    }
}